<main class="login-page">
  <section class="login-panel">
    <a routerLink="/" class="back-link">Voltar para o site</a>
    <h1>Acesso Ana & Kaio</h1>

    <form [formGroup]="form" autocomplete="off" (ngSubmit)="submit()">
      <label>
        E-mail
        <input type="text" formControlName="email" autocomplete="off"/>
      </label>

      <label>
        Senha
        <input type="password" formControlName="password" autocomplete="new-password"/>
      </label>

      @if (errorMessage(); as message) {
        <p class="error">{{ message }}</p>
      }

      <button type="submit" [disabled]="form.invalid || isLoading()">
        {{ isLoading() ? 'Entrando...' : 'Entrar' }}
      </button>
    </form>
  </section>
</main>
